body {
  font-size: 100%;
  font-size: 2em;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
.container {
  width: 1400px;
  padding: 1.25rem;
}
.navBg {
  background: #313073 0% 0% no-repeat padding-box;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.me-auto {
  display: flex;
  margin: 0 6rem;
  text-decoration: none;
  cursor: pointer;
  gap: 20rem;
  font-size: 3rem;
}

h2 {
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 1em;
  text-align: center;
}

h3 {
  font-size: 2em;
  text-align: center;
  color: black;
}

@media screen and (max-width: 375px) {
  .container {
    width: 375px;
  }

  .me-auto {
    margin: 0 12rem;
    gap: 2rem;
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }

  h3 {
    font-size: 1em;
  }
}
